In [12]:
import pandas as pd
df = pd.read_csv('airportss.csv')
df

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76317,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
76318,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
76319,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
76320,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,NaN,NaN,NaN,NaN,NaN,"ZZZW, ZZZW, ZYW, YK96"
76321,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [14]:
result = df.groupby(['iso_country', 'continent', 'type'])['type'].count().unstack(fill_value=0)
print(result)

type                   balloonport  closed  heliport  large_airport  \
iso_country continent
AD          EU                   0       1         2              0
AE          AS                   0       4       200              4
AF          AS                   0       3         8              0
AL          EU                   0       6         8              1
AM          AS                   0       4         1              1
...                            ...     ...       ...            ...
YE          AS                   0       0         6              0
YT          AF                   0       0         0              0
ZA          AF                   0      26        48              3
ZM          AF                   0       2         4              1
ZW          AF                   0       6         5              1

type                   medium_airport  seaplane_base  small_airport
iso_country continent
AD          EU                      0              0              0
AE          AS                      8              4             30
AF          AS                      9              0             58
AL          EU                      2              0              1
AM          AS                      2              0              8
...                               ...            ...            ...
YE          AS                     10              0             22
YT          AF                      1              0              0
ZA          AF                     57              0            511
ZM          AF                      8              0            110
ZW          AF                      8              0            135

[211 rows x 7 columns]

In [23]:
import pandas as pd

In [24]:
data = pd.read_csv('airports.csv')

In [25]:
mean_elevation = data.groupby(['iso_country', 'type'])['elevation_ft'].mean().unstack()

In [26]:
print(mean_elevation)

type         balloonport       closed     heliport  large_airport  \
iso_country
AD                   NaN          NaN  3450.000000            NaN
AE                   NaN   323.500000   113.791667      93.750000
AF                   NaN  5514.333333  3198.333333            NaN
AG                   NaN          NaN    13.000000            NaN
AI                   NaN          NaN          NaN            NaN
...                  ...          ...          ...            ...
YE                   NaN          NaN    78.833333            NaN
YT                   NaN          NaN          NaN            NaN
ZA                   NaN  2681.368421  3918.428571    2001.333333
ZM                   NaN  4300.000000  2658.500000    3779.000000
ZW                   NaN  3236.500000  3014.250000    4887.000000

type         medium_airport  seaplane_base  small_airport
iso_country
AD                      NaN            NaN            NaN
AE               204.000000            0.0     104.650000
AF              3201.888889            NaN    5344.673077
AG                38.500000            NaN      15.000000
AI               127.000000            NaN            NaN
...                     ...            ...            ...
YE              1916.800000            NaN    2814.176471
YT                23.000000            NaN            NaN
ZA              2669.122807            NaN    3164.130435
ZM              3768.125000            NaN    3564.298851
ZW              3343.000000            NaN    2994.810000

[244 rows x 7 columns]

In [49]:
import pandas as pd

In [57]:
data = pd.read_csv('allCountries.txt', delimiter='\t')
#cleaning data
cleaned_lines = [line.strip() for line in lines]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6512\544455611.py:1: DtypeWarning: Columns (9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('allCountries.txt', delimiter='\t')

In [58]:
print(data.head())

   2986043            Pic de Font Blanca          Pic de Font Blanca.1  \
0  2994701                      Roc Mélé                      Roc Mele
1  3007683          Pic des Langounelles          Pic des Langounelles
2  3017832          Pic de les Abelletes          Pic de les Abelletes
3  3017833       Estany de les Abelletes       Estany de les Abelletes
4  3023203  Port Vieux de la Coume d’Ose  Port Vieux de la Coume d'Ose

                      Pic de Font Blanca,Pic du Port  42.64991  1.53335  T  \
0                        Roc Mele,Roc Meler,Roc Mélé  42.58765  1.74028  T
1                               Pic des Langounelles  42.61203  1.47364  T
2  Pic de la Font-Negre,Pic de la Font-Nègre,Pic ...  42.52535  1.73343  T
3  Estany de les Abelletes,Etang de Font-Negre,Ét...  42.52915  1.73362  H
4  Port Vieux de Coume d'Ose,Port Vieux de Coume ...  42.62568  1.61823  T

     PK  AD Unnamed: 9  00 Unnamed: 11 Unnamed: 12 Unnamed: 13  0  \
0    MT  AD      AD,FR  00         NaN         NaN         NaN  0
1    PK  AD      AD,FR  00         NaN         NaN         NaN  0
2    PK  AD         FR  A9          66       663.0     66146.0  0
3    LK  AD         FR  A9         NaN         NaN         NaN  0
4  PASS  AD        NaN  00         NaN         NaN         NaN  0

   Unnamed: 15  2860  Europe/Andorra  2014-11-05
0          NaN  2803  Europe/Andorra  2020-06-10
1          NaN  2685  Europe/Andorra  2014-11-05
2          NaN  2411  Europe/Andorra  2014-11-05
3          NaN  2260  Europe/Andorra  2014-11-05
4          NaN  2687  Europe/Andorra  2014-11-05

In [62]:
#Estimating population per country
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


# Define your features and target variable
X = data[['elevation_ft']]
y = data['Population']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create a linear regression model
model = LinearRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)


# Predict population

predicted_population = model.predict(new_features)
print(f" Population: {predicted_population[0]}")
print(f"iso_country")

  iso_country  Population
0          AD   331002651
1          AU  1444216107
2          AZ  1380004385
3          BA   212559417
4          CA   145934462

In [63]:
import pandas as pd

In [64]:
df = pd.read_csv('regions.csv')

In [65]:
#Cleaning data
df_cleaned = df.drop_duplicates(subset=['name', 'iso_country'])

In [70]:
#calculating cities/towns per country 
city_counts = df.groupby('iso_country')['name'].count().reset_index()
city_counts.columns = ['iso_country', 'Number_of_Cities']
print(city_counts)

    iso_country  Number_of_Cities
0            AD                 8
1            AE                 8
2            AF                35
3            AG                10
4            AI                 1
..          ...               ...
242          YT                 1
243          ZA                10
244          ZM                11
245          ZW                11
246          ZZ                 1

[247 rows x 2 columns]

In [72]:
import pandas as pd
df = pd.read_csv('airportss.csv')

In [75]:
#Data Cleaning
df_cleaned = df.drop_duplicates(subset=['municipality', 'elevation_ft'])
#calculatinng min, max and avarages
city_stats = df.groupby('municipality')['elevation_ft'].agg(['min', 'max', 'mean']).reset_index()
city_stats.columns = ['municipality', 'Min_Elevation', 'Max_Elevation', 'Avg_Elevation']
print(city_stats)

                                municipality  Min_Elevation  Max_Elevation  \
0                            "Big" Rock Flat         4392.0         4392.0
1      "Jaunkalmes", Lejasciema pag., LV4412          309.0          309.0
2                            'S Gravenvoeren          394.0          394.0
3                        (Old) Scandium City            4.0            4.0
4                              (Old) Yukonia         1886.0         1886.0
...                                      ...            ...            ...
34127                                Žamberk         1411.0         1411.0
34128                                  Žatec          879.0          900.0
34129                                 Žilina         1020.0         1020.0
34130                                 Žocene            NaN            NaN
34131                                 Ларьяк          100.0          100.0

       Avg_Elevation
0             4392.0
1              309.0
2              394.0
3                4.0
4             1886.0
...              ...
34127         1411.0
34128          889.5
34129         1020.0
34130            NaN
34131          100.0

[34132 rows x 4 columns]

In [79]:
#Checking the highest and lowest elevated cities in the world with populations > 100000?
filtered_df = df[df['Population'] > 100000]
highest_elevation = filtered_df[filtered_df['elevation_ft'] == filtered_df['elevation_ft'].max()]
lowest_elevation = filtered_df[filtered_df['elevation_ft'] == filtered_df['elevation_ft'].min()]

In [80]:
print("Highest Elevated City(s):")
print(highest_elevation[['name', 'elevation_ft']])

print("\nLowest Elevated City(s):")
print(lowest_elevation[['name', 'elevation_ft']])

Highest Elevated City(s):
                                   name  elevation_ft
47191  Mount Everest Base Camp Heliport       17372.0

Lowest Elevated City(s):
                      name  elevation_ft
41069  Bar Yehuda Airfield       -1266.0

In [81]:
import pandas as pd
df = pd.read_csv('airportss.csv')

In [82]:
#highest and lowest elevated airports, airfields and heliports on the planet?
filtered_df = df[df['latitude_deg'] > 10]
highest_elevation = filtered_df[filtered_df['elevation_ft'] == filtered_df['elevation_ft'].max()]
lowest_elevation = filtered_df[filtered_df['elevation_ft'] == filtered_df['elevation_ft'].min()]
print("Highest Elevated airport(s):")
print(highest_elevation[['name', 'elevation_ft']])

print("\nLowest Elevated airprrt(s):")
print(lowest_elevation[['name', 'elevation_ft']])

Highest Elevated airport(s):
                                   name  elevation_ft
47191  Mount Everest Base Camp Heliport       17372.0

Lowest Elevated airprrt(s):
                      name  elevation_ft
41069  Bar Yehuda Airfield       -1266.0